ETL Process

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from queries_sql import songs_table_insert, artists_table_insert, times_table_insert, users_table_insert, songplays_table_insert, songs_select

In [2]:
try: 
    conn = psycopg2.connect("dbname=sparkifydb user=postgres password=admin123")
    print("Connection to the database is successful")
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not make connection to the Postgres database")
    print(e)

Connection to the database is successful

Get file path:

In [3]:
def getFiles(filePath):
    all_files = []
    # root: đường dẫn thư mục hiện tại
    # dirs: danh sách thư mục con
    # files: danh sách file trong thư mục hiện tại
    for root, dirs, files in os.walk(filePath):
        # print(root, dirs, files)
        files = glob.glob(os.path.join(root, '*.json')) 
        for f in files:
            all_files.append(os.path.abspath(f))
        
    return all_files

Process song_data:

In [4]:
song_df = []

for song_path in getFiles('data/song_data'):
    song_data = pd.read_json(song_path, lines=True)
    song_df.append(song_data)

songs_df = pd.concat(song_df)
songs_df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0
0,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969
0,1,ARKRRTF1187B9984DA,NaN,NaN,,Sonora Santanera,SOXVLOJ12AB0189215,Amor De Cabaret,177.47546,0
0,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982
0,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007
...,...,...,...,...,...,...,...,...,...,...
0,1,AR8IEZO1187B99055E,NaN,NaN,,Marc Shaiman,SOINLJW12A8C13314C,City Slickers,149.86404,2008
0,1,AR558FS1187FB45658,NaN,NaN,,40 Grit,SOGDBUF12A8C140FAA,Intro,75.67628,2003
0,1,ARVBRGZ1187FB4675A,NaN,NaN,,Gwen Stefani,SORRZGD12A6310DBC3,Harajuku Girls,290.55955,2004
0,1,ARWB3G61187FB49404,NaN,NaN,"Hamilton, Ohio",Steve Morse,SODAUVL12A8C13D184,Prognosis,363.85914,2000
0,1,AREVWGE1187B9B890A,-13.44200,-41.99520,Noci (BA),Bitter End,SOFCHDR12AB01866EF,Living Hell,282.43546,0

1. Extract to songs table (convert into list and insert)

In [5]:
try:
    song_df = songs_df[['song_id', 'title', 'artist_id', 'year', 'duration']]
    for i, row in song_df.iterrows():
        print(row)
        cur.execute(songs_table_insert, list(row))
        conn.commit()
    print("Insert data into song table successfully")
except Exception as e:
    print(e)

song_id      SOMZWCG12A8C13C480
title          I Didn't Mean To
artist_id    ARD7TVE1187B99BFB1
year                          0
duration              218.93179
Name: 0, dtype: object
song_id      SOCIWDW12A8C13D406
title                 Soul Deep
artist_id    ARMJAGH1187FB546F3
year                       1969
duration              148.03546
Name: 0, dtype: object
song_id      SOXVLOJ12AB0189215
title           Amor De Cabaret
artist_id    ARKRRTF1187B9984DA
year                          0
duration              177.47546
Name: 0, dtype: object
song_id      SONHOTT12A8C13493C
title           Something Girls
artist_id    AR7G5I41187FB4CE6C
year                       1982
duration              233.40363
Name: 0, dtype: object
song_id      SOFSOCN12A8C143F5D
title            Face the Ashes
artist_id    ARXR32B1187FB57099
year                       2007
duration              209.60608
Name: 0, dtype: object
song_id                               SOYMRWW12A6D4FAB14
title        The Moon And I (Ordinary Day Album Version)
artist_id                             ARKFYS91187B98E58F
year                                                   0
duration                                        267.7024
Name: 0, dtype: object
song_id         SOMJBYD12A6D4F8557
title        Keepin It Real (Skit)
artist_id       ARD0S291187B9B7BF5
year                             0
duration                 114.78159
Name: 0, dtype: object
song_id      SOHKNRJ12A6701D1F8
title              Drop of Rain
artist_id    AR10USD1187B99F3F1
year                          0
duration              189.57016
Name: 0, dtype: object
song_id      SOIAZJW12AB01853F1
title                Pink World
artist_id    AR8ZCNI1187B9A069B
year                       1984
duration              269.81832
Name: 0, dtype: object
song_id                     SOUDSGM12AC9618304
title        Insatiable (Instrumental Version)
artist_id                   ARNTLGG11E2835DDB9
year                                         0
duration                             266.39628
Name: 0, dtype: object
song_id      SOQHXMF12AB0182363
title           Young Boy Blues
artist_id    ARGSJW91187B9B1D6B
year                          0
duration              218.77506
Name: 0, dtype: object
song_id            SOKEJEJ12A8C13E0D0
title        The Urgency (LP Version)
artist_id          ARC43071187B990240
year                                0
duration                    245.21098
Name: 0, dtype: object
song_id      SOMUYGI12AB0188633
title                  La Culpa
artist_id    ARL7K851187B99ACD2
year                          0
duration              226.35057
Name: 0, dtype: object
song_id      SORAMLE12AB017C8B0
title            Auguri Cha Cha
artist_id    ARHHO3O1187B989413
year                          0
duration              191.84281
Name: 0, dtype: object
song_id           SOBONFF12A6D4F84D8
title        Tonight Will Be Alright
artist_id         ARIK43K1187B9AE54C
year                            1986
duration                    307.3824
Name: 0, dtype: object
song_id      SOHUOAP12A8AE488E9
title                  Floating
artist_id    ARD842G1187B997376
year                       1987
duration              491.12771
Name: 0, dtype: object
song_id      SOUQQEA12A8C134B1B
title                 High Tide
artist_id    ARIG6O41187B988BDD
year                          0
duration               228.5971
Name: 0, dtype: object
song_id        SOILPQQ12AB017E82A
title        Sohna Nee Sohna Data
artist_id      AR1ZHYZ1187FB3C717
year                            0
duration                599.24853
Name: 0, dtype: object
song_id      SOXLBJT12A8C140925
title         Caught In A Dream
artist_id    ARYKCQI1187FB3B18F
year                       2004
duration              290.29832
Name: 0, dtype: object
song_id      SOZVMJI12AB01808AF
title           Synthetic Dream
artist_id    ARNPAGP1241B9C7FD4
year                          0
duration              165.69424
Name: 0, dtype: object
song_id              SOWTBJW12AC468AC6E
title        Broken-Down Merry-Go-Round
artist_id            ARQGYP71187FB44566
year                                  0
duration                      151.84934
Name: 0, dtype: object
song_id      SOBEBDG12A58A76D60
title              Kassie Jones
artist_id    ARI3BMM1187FB4255E
year                          0
duration              220.78649
Name: 0, dtype: object
song_id      SOZCTXZ12AB0182364
title            Setanta matins
artist_id    AR5KOSW1187FB35FF4
year                          0
duration              269.58322
Name: 0, dtype: object
song_id                   SOBBUGU12A8C13E95D
title        Setting Fire to Sleeping Giants
artist_id                 ARMAC4T1187FB3FA4C
year                                    2004
duration                           207.77751
Name: 0, dtype: object
song_id                  SOBLGCN12AB0183212
title        James (Hold The Ladder Steady)
artist_id                AR47JEX1187B995D81
year                                   1985
duration                          124.86485
Name: 0, dtype: object
song_id         SOPSWQW12A6D4F8781
title        Made Like This (Live)
artist_id       ARGIWFO1187B9B55B7
year                             0
duration                 225.09669
Name: 0, dtype: object
song_id      SOZQDIU12A58A7BCF6
title         Superconfidential
artist_id    ARNTLGG11E2835DDB9
year                          0
duration              338.31138
Name: 0, dtype: object
song_id                                     SONYPOM12A8C13B2D7
title        I Think My Wife Is Running Around On Me (Taco ...
artist_id                                   ARDNS031187B9924F0
year                                                      2005
duration                                             186.48771
Name: 0, dtype: object
song_id      SOBZBAZ12A6D4F8742
title            Spanish Grease
artist_id    AROUOZZ1187B9ABE51
year                       1997
duration              168.25424
Name: 0, dtype: object
song_id        SOVYKGO12AB0187199
title        Crazy Mixed Up World
artist_id      ARH4Z031187B9A71F2
year                         1961
duration                156.39465
Name: 0, dtype: object
song_id                SOGNCJP12A58A80271
title        Do You Finally Need A Friend
artist_id              ARB29H41187B98F0EF
year                                 1972
duration                        342.56934
Name: 0, dtype: object
song_id      SOLLHMX12AB01846DC
title         The Emperor Falls
artist_id    AR1Y2PT1187FB5B9CE
year                          0
duration              484.62322
Name: 0, dtype: object
song_id      SOYTPEP12AB0180E7B
title           Twist and Shout
artist_id    ARAJPHH1187FB5566A
year                       1964
duration              164.80608
Name: 0, dtype: object
song_id              SOGXHEG12AB018653E
title        It Makes No Difference Now
artist_id            AR0RCMP1187FB3F427
year                               1992
duration                      133.32853
Name: 0, dtype: object
song_id                   SOOLYAZ12A6701F4A6
title        Laws Patrolling (Album Version)
artist_id                 AREBBGV1187FB523D2
year                                       0
duration                           173.66159
Name: 0, dtype: object
song_id      SOGOSOV12AF72A285E
title         ¿Dónde va Chichi?
artist_id    ARGUVEV1187B98BA17
year                       1997
duration              313.12934
Name: 0, dtype: object
song_id      SOQLGFP12A58A7800E
title                   OAKtown
artist_id    ARD7TVE1187B99BFB1
year                          0
duration              259.44771
Name: 0, dtype: object
song_id      SOPVXLX12A8C1402D5
title          Larger Than Life
artist_id    AR3JMC51187B9AE49D
year                       1999
duration              236.25098
Name: 0, dtype: object
song_id                                     SOAOIBZ12AB01815BE
title        I Hold Your Hand In Mine [Live At Royal Albert...
artist_id                                   ARPBNLO1187FB3D52F
year                                                      2000
duration                                              43.36281
Name: 0, dtype: object
song_id      SOZHPGD12A8C1394FE
title           Baby Come To Me
artist_id    AR9AWNF1187B9AB0B4
year                          0
duration              236.93016
Name: 0, dtype: object
song_id      SOSLAVG12A8C13397F
title               Den Pai Alo
artist_id    AROGWRA122988FEE45
year                          0
duration              243.82649
Name: 0, dtype: object
song_id        SOTTDKS12AB018D69B
title        It Wont Be Christmas
artist_id      ARMBR4Y1187B9990EB
year                            0
duration                241.47546
Name: 0, dtype: object
song_id           SOMVWWT12A58A7AE05
title        Knocked Out Of The Park
artist_id         ARQ9BO41187FB5CF1F
year                               0
duration                   183.17016
Name: 0, dtype: object
song_id      SOQVMXR12A81C21483
title               Salt In NYC
artist_id    ARKULSX1187FB45F84
year                          0
duration              424.12363
Name: 0, dtype: object
song_id        SODUJBS12A8C132150
title        Wessex Loses a Bride
artist_id      ARI2JSK1187FB496EF
year                            0
duration                111.62077
Name: 0, dtype: object
song_id                 SOBBXLX12A58A79DDA
title        Erica (2005 Digital Remaster)
artist_id               AREDBBQ1187B98AFF5
year                                     0
duration                         138.63138
Name: 0, dtype: object
song_id      SOTUKVB12AB0181477
title         Blessed Assurance
artist_id    AR7ZKHQ1187B98DD73
year                       1993
duration                270.602
Name: 0, dtype: object
song_id      SOOJPRH12A8C141995
title         Loaded Like A Gun
artist_id    ARBGXIG122988F409D
year                          0
duration              173.19138
Name: 0, dtype: object
song_id      SOBCOSW12A8C13D398
title        Rumba De Barcelona
artist_id    AR7SMBG1187B9B9066
year                          0
duration              218.38322
Name: 0, dtype: object
song_id      SOQOTLQ12AB01868D0
title        Clementina Santafè
artist_id    ARGCY1Y1187B9A4FA5
year                          0
duration              153.33832
Name: 0, dtype: object
song_id                 SOBKWDJ12A8C13B2F3
title        Wild Rose (Back 2 Basics Mix)
artist_id               AR36F9J1187FB406F1
year                                     0
duration                         230.71302
Name: 0, dtype: object
song_id               SOFNOQK12AB01840FC
title        Kutt Free (DJ Volume Remix)
artist_id             ARNNKDK1187B98BBD5
year                                   0
duration                       407.37914
Name: 0, dtype: object
song_id      SOGVQGJ12AB017F169
title                 Ten Tonne
artist_id    AR62SOJ1187FB47BB5
year                       2005
duration              337.68444
Name: 0, dtype: object
song_id                  SOFFKZS12AB017F194
title        A Higher Place (Album Version)
artist_id                ARBEBBY1187B9B43DB
year                                   1994
duration                          236.17261
Name: 0, dtype: object
song_id                   SOBAYLL12A8C138AF9
title        Sono andati? Fingevo di dormire
artist_id                 ARDR4AC1187FB371A1
year                                       0
duration                           511.16363
Name: 0, dtype: object
song_id      SOLEYHO12AB0188A85
title        Got My Mojo Workin
artist_id    ARAGB2O1187FB3A161
year                          0
duration              338.23302
Name: 0, dtype: object
song_id                    SOPEGZN12AB0181B3D
title        Get Your Head Stuck On Your Neck
artist_id                  AREDL271187FB40F44
year                                        0
duration                             45.66159
Name: 0, dtype: object
song_id      SOXILUQ12A58A7C72A
title         Jenny Take a Ride
artist_id    ARP6N5A1187B99D1A3
year                       2004
duration              207.43791
Name: 0, dtype: object
song_id               SOTCKKY12AB018A141
title        Sonnerie lalaleulé hi houuu
artist_id             ARGSAFR1269FB35070
year                                   0
duration                        29.54404
Name: 0, dtype: object
song_id      SOSWKAV12AB018FC91
title             Midnight Star
artist_id    ARULZCI1241B9C8611
year                          0
duration              335.51628
Name: 0, dtype: object
song_id      SONSKXP12A8C13A2C9
title               Native Soul
artist_id    AR0IAWL1187B9A96D0
year                       2003
duration              197.19791
Name: 0, dtype: object
song_id       SOUPIRU12A6D4FA1E1
title        Der Kleine Dompfaff
artist_id     ARJIE2Y1187B994AB7
year                           0
duration               152.92036
Name: 0, dtype: object
song_id                                 SODREIN12A58A7F2E5
title        A Whiter Shade Of Pale (Live @ Fillmore West)
artist_id                               ARLTWXK1187FB5A3F8
year                                                     0
duration                                         326.00771
Name: 0, dtype: object
song_id                 SONWXQJ12A8C134D94
title        The Ballad Of Sleeping Beauty
artist_id               ARNF6401187FB57032
year                                  1994
duration                           305.162
Name: 0, dtype: object
song_id                            SOWQTQZ12A58A7B63E
title        Streets On Fire (Explicit Album Version)
artist_id                          ARPFHN61187FB575F6
year                                                0
duration                                    279.97995
Name: 0, dtype: object
song_id         SOLYIBD12A8C135045
title        Music is what we love
artist_id       AR051KA1187B98B2FF
year                             0
duration                 261.51138
Name: 0, dtype: object
song_id      SOINLJW12A8C13314C
title             City Slickers
artist_id    AR8IEZO1187B99055E
year                       2008
duration              149.86404
Name: 0, dtype: object
song_id      SOGDBUF12A8C140FAA
title                     Intro
artist_id    AR558FS1187FB45658
year                       2003
duration               75.67628
Name: 0, dtype: object
song_id      SORRZGD12A6310DBC3
title            Harajuku Girls
artist_id    ARVBRGZ1187FB4675A
year                       2004
duration              290.55955
Name: 0, dtype: object
song_id      SODAUVL12A8C13D184
title                 Prognosis
artist_id    ARWB3G61187FB49404
year                       2000
duration              363.85914
Name: 0, dtype: object
song_id      SOFCHDR12AB01866EF
title               Living Hell
artist_id    AREVWGE1187B9B890A
year                          0
duration              282.43546
Name: 0, dtype: object
Insert data into song table successfully

2. Extract to artists table (convert into list and insert)

In [6]:
try:
    artist_df = songs_df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']]
    for i, row in artist_df.iterrows():
        cur.execute(artists_table_insert, list(row))
        conn.commit()
    print("Insert data into artist table successfully")
except Exception as e:
    print(e)

Insert data into artist table successfully

Process log_data:

In [7]:
log_df = []

for log_path in getFiles('data/log_data'):
    log_data = pd.read_json(log_path, lines=True)
    log_df.append(log_data)

logs_df = pd.concat(log_df)
logs_df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540919e+12,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1.540345e+12,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1.540345e+12,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,Timbiriche,Logged In,Rylan,M,58,George,202.60526,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Besos De Ceniza,200,1543603476796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
384,A Perfect Circle,Logged In,Rylan,M,59,George,206.05342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Rose,200,1543603678796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
385,Anberlin,Logged In,Rylan,M,60,George,348.68200,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,The Haunting,200,1543603884796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
386,None,Logged In,Rylan,M,61,George,NaN,paid,"Birmingham-Hoover, AL",GET,Downgrade,1.541020e+12,1076,None,200,1543603993796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
387,Deas Vail,Logged In,Elijah,M,0,Davis,237.68771,free,"Detroit-Warren-Dearborn, MI",PUT,NextSong,1.540772e+12,985,Anything You Say (Unreleased Version),200,1543607664796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",5

3. Extract to times table
    - Filter records by NextSong action
    - Convert the ts timestamp column to datetime
    - Extract the timestamp, hour, day, week of year, month, year, and weekday from the ts column and set time_data to a list containing these values in order
    - Specify labels for these columns and set to column_labels
    - Create a dataframe, time_df, containing the time data for this file by combining column_labels and time_data into a dictionary and converting this into a dataframe

In [8]:
time_df = logs_df[logs_df['page'] == 'NextSong']
t = pd.to_datetime(time_df['ts'])

In [9]:
time_data = [(tt.value, tt.hour, tt.day, tt.week, tt.month, tt.year, tt.weekday()) for tt in t]
column_labels = ('timestamp', 'hour', 'day', 'week', 'month', 'year', 'weekday')

Take time values from files and convert into dataframe

In [10]:
time_df = pd.DataFrame(time_data, columns=column_labels)
time_df

          timestamp  hour  day  week  month  year  weekday
0     1541106106796     0    1     1      1  1970        3
1     1541106352796     0    1     1      1  1970        3
2     1541106496796     0    1     1      1  1970        3
3     1541106673796     0    1     1      1  1970        3
4     1541107053796     0    1     1      1  1970        3
...             ...   ...  ...   ...    ...   ...      ...
6815  1543603205796     0    1     1      1  1970        3
6816  1543603476796     0    1     1      1  1970        3
6817  1543603678796     0    1     1      1  1970        3
6818  1543603884796     0    1     1      1  1970        3
6819  1543607664796     0    1     1      1  1970        3

[6820 rows x 7 columns]

Insert Records into times table

In [11]:
try:
    for i, row in time_df.iterrows():
        cur.execute(times_table_insert, list(row))
        conn.commit()
    print("Insert data into time table successfully")
except Exception as e:
    print(e)

Insert data into time table successfully

4. Extract to users table

In [12]:
try: 
    user_df = logs_df[['userId', 'firstName', 'lastName', 'gender', 'level']]
    for i, row in user_df.iterrows():
        print(list(row))
        cur.execute(users_table_insert, list(row))
        conn.commit()
    print("Insert data into user table successfully")
except Exception as e:
    print(e)

[39, 'Walter', 'Frye', 'M', 'free']
[8, 'Kaylee', 'Summers', 'F', 'free']
[8, 'Kaylee', 'Summers', 'F', 'free']
[8, 'Kaylee', 'Summers', 'F', 'free']
[8, 'Kaylee', 'Summers', 'F', 'free']
[8, 'Kaylee', 'Summers', 'F', 'free']
[8, 'Kaylee', 'Summers', 'F', 'free']
[8, 'Kaylee', 'Summers', 'F', 'free']
[8, 'Kaylee', 'Summers', 'F', 'free']
[8, 'Kaylee', 'Summers', 'F', 'free']
[10, 'Sylvie', 'Cruz', 'F', 'free']
[26, 'Ryan', 'Smith', 'M', 'free']
[26, 'Ryan', 'Smith', 'M', 'free']
[26, 'Ryan', 'Smith', 'M', 'free']
[101, 'Jayden', 'Fox', 'M', 'free']
[101, 'Jayden', 'Fox', 'M', 'free']
[83, 'Stefany', 'White', 'F', 'free']
[83, 'Stefany', 'White', 'F', 'free']
[83, 'Stefany', 'White', 'F', 'free']
[66, 'Kevin', 'Arellano', 'M', 'free']
[48, 'Marina', 'Sutton', 'F', 'free']
[86, 'Aiden', 'Hess', 'M', 'free']
[86, 'Aiden', 'Hess', 'M', 'free']
[17, 'Makinley', 'Jones', 'F', 'free']
[66, 'Kevin', 'Arellano', 'M', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[89, 'Kynnedi', 'Sanchez', 'F', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[89, 'Kynnedi', 'Sanchez', 'F', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[80, 'Tegan', 'Levine', 'F', 'free']
[80, 'Tegan', 'Levine', 'F', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[80, 'Tegan', 'Levine', 'F', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[88, 'Mohammad', 'Rodriguez', 'M', 'free']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[80, 'Tegan', 'Levine', 'F', 'free']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[49, 'Chloe', 'Cuevas', 'F', 'free']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[49, 'Chloe', 'Cuevas', 'F', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[44, 'Aleena', 'Kirby', 'F', 'paid']
[86, 'Aiden', 'Hess', 'M', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[100, 'Adler', 'Barrera', 'M', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[100, 'Adler', 'Barrera', 'M', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[100, 'Adler', 'Barrera', 'M', 'free']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[15, 'Lily', 'Koch', 'F', 'paid']
[80, 'Tegan', 'Levine', 'F', 'free']
[80, 'Tegan', 'Levine', 'F', 'free']
[80, 'Tegan', 'Levine', 'F', 'free']
[80, 'Tegan', 'Levine', 'F', 'free']
[86, 'Aiden', 'Hess', 'M', 'free']
[26, 'Ryan', 'Smith', 'M', 'free']
[26, 'Ryan', 'Smith', 'M', 'free']
[26, 'Ryan', 'Smith', 'M', 'free']
[26, 'Ryan', 'Smith', 'M', 'free']
[26, 'Ryan', 'Smith', 'M', 'free']
[26, 'Ryan', 'Smith', 'M', 'free']
[61, 'Samuel', 'Gonzalez', 'M', 'free']
[61, 'Samuel', 'Gonzalez', 'M', 'free']
[86, 'Aiden', 'Hess', 'M', 'free']
[86, 'Aiden', 'Hess', 'M', 'free']
[86, 'Aiden', 'Hess', 'M', 'free']
[86, 'Aiden', 'Hess', 'M', 'free']
[88, 'Mohammad', 'Rodriguez', 'M', 'free']
[88, 'Mohammad', 'Rodriguez', 'M', 'free']
[88, 'Mohammad', 'Rodriguez', 'M', 'free']
[88, 'Mohammad', 'Rodriguez', 'M', 'free']
[88, 'Mohammad', 'Rodriguez', 'M', 'free']
[88, 'Mohammad', 'Rodriguez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[88, 'Mohammad', 'Rodriguez', 'M', 'free']
[88, 'Mohammad', 'Rodriguez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[50, 'Ava', 'Robinson', 'F', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[50, 'Ava', 'Robinson', 'F', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[75, 'Joseph', 'Gutierrez', 'M', 'free']
[10, 'Sylvie', 'Cruz', 'F', 'free']
[10, 'Sylvie', 'Cruz', 'F', 'free']
[12, 'Austin', 'Rosales', 'M', 'free']
[10, 'Sylvie', 'Cruz', 'F', 'free']
[10, 'Sylvie', 'Cruz', 'F', 'free']
[50, 'Ava', 'Robinson', 'F', 'free']
[50, 'Ava', 'Robinson', 'F', 'free']
[50, 'Ava', 'Robinson', 'F', 'free']
[71, 'Ayleen', 'Wise', 'F', 'free']
[71, 'Ayleen', 'Wise', 'F', 'free']
[71, 'Ayleen', 'Wise', 'F', 'free']
[71, 'Ayleen', 'Wise', 'F', 'free']
[54, 'Kaleb', 'Cook', 'M', 'free']
[3, 'Isaac', 'Valdez', 'M', 'free']
[3, 'Isaac', 'Valdez', 'M', 'free']
[3, 'Isaac', 'Valdez', 'M', 'free']
['', None, None, None, 'free']
invalid input syntax for type integer: ""
LINE 3:     VALUES ('', NULL, NULL, NULL, 'free')
                    ^

5. Extract songplays table

In [13]:
try:
    
    for index, row in logs_df.iterrows():
        # Tham so truyen vao cau lenh sql
        cur.execute(songs_select, (row.song, row.artist, row.length))
        results = cur.fetchone()    
        
        if results:
            songid, artistid = results
        else:
            songid, artistid = None, None

        # insert songplay record
        songplay_data = (index, row['ts'], row['userId'], row['level'], songid, artistid, row['sessionId'],
                     row['location'], row['userAgent'])
        print(song_data)
        cur.execute(songplays_table_insert, songplay_data)
        conn.commit()
except Exception as e:
    print(e)

current transaction is aborted, commands ignored until end of transaction block

In [14]:
conn.close()